* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #a2d2ff;
  --secondary-color: #bde0fe;
  --third-color: #ffafcc;
  --background-color: #fcdae7;
  --fifth-color: #cdb4db;
}

.App {
  text-align: center;
  background-color: var(--background-color);
  min-height: 100vh;
}

/* header */
.bookself-header-container {
  text-align: left;
  padding: 16px;
  background-color: var(--fifth-color);
}

/* navbar */
.bookself-navbar-container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.nav-button-wrapper,
#category-wrapper {
  margin: 8px;
  padding: 8px;
  width: 150px;
  border: 1px solid lightgray;
  border-radius: 4px;
}
.nav-button-wrapper:hover {
  background-color: gray;
  color: aliceblue;
}

/* card container */
.primary-container {
  max-width: 800px;
  margin: auto;
  margin-top: 16px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

.secondary-container {
  display: none;
}
.book-wrapper {
  padding: 8px;
  background-color: var(--fifth-color);
  max-width: 300px;
}
.book-cover-wrapper {
  height: 260px;
  width: 180px;
  cursor: pointer;
}

.input-bookCover-wrapper {
  padding: 100px;
}

/* Book Details */
.bookDetails-main-container {
  min-height: 100vh;
  background-color: var(--background-color);
}

.details-header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 32px;
  background-color: var(--third-color);
}

.bookDetails-primary-container {
  background-color: var(--third-color);
  margin: 24px auto;
  padding: 16px;
  max-width: 800px;
  border-radius: 8px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  text-align: left;
}

.details-image-wrapper{
  width: 300px;
  height: 450px;
}

.bookDetails-name{
  font-size: 32px;
  padding-bottom: 8px;
}
.bookDetails-author{
  font-size: 24px;
}
.catSelector-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
}
.description-container{
  max-width: 450px;
  padding: 24px 0;
}
.description-genre{
  padding: 8px 0;
}
.rating-container{
  background-color: var(--background-color);
  padding: 8px;
  border-radius: 8px;
  text-align: center;
}
.operational-button{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
}

@media (min-width: 900px) {
  .all-books-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    gap: 8px;
  }
  .primary-container {
    max-width: 800px;
    max-height: 83vh;
    overflow-y: auto;
  }
  .secondary-container {
    padding: 16px;
    display: block;
    background-color: var(--background-color);
  }
  .secondary-container h4 {
    border: 2px solid var(--fifth-color);
    background-color: var(--fifth-color);
    padding: 8px;
    font-size: larger;
  }
  .secondary-container .sidebarImage {
    width: 300px;
    border-left: 2px solid var(--fifth-color);
  }
  .books-list-container {
    margin-top: 16px;
    text-align: left;
    font-size: 18px;
    max-height: 40vh;
    overflow-y: auto;
  }
  .books-list-container p {
    padding-left: 8px;
    padding-top: 4px;
    cursor: pointer;
  }
  .books-list-container p:hover {
    border-left: 2px solid var(--fifth-color);
    font-weight: bold;
  }
}

::-webkit-scrollbar {
  width: 0;
}
