*{
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.primary-container {
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.book-wrapper {
  border: 1px solid gray;
}
.book-cover-wrapper {
  height: 200px;
}